<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Details Form</title>
</head>

<body>

    <h2>Property Details Form</h2>

    <form action="/housse_price/predict/" method="post">
        <label for="area">Area:</label><br>
        <input type="text" id="area" name="area"><br><br>

        <label for="bedrooms">Bedrooms:</label><br>
        <input type="text" id="bedrooms" name="bedrooms"><br><br>

        <label for="bathrooms">Bathrooms:</label><br>
        <input type="text" id="bathrooms" name="bathrooms"><br><br>

        <label for="stories">Stories:</label><br>
        <input type="text" id="stories" name="stories"><br><br>

        <label for="mainroad">Main Road (0 or 1):</label><br>
        <input type="text" id="mainroad" name="mainroad"><br><br>

        <label for="guestroom">Guest Room (0 or 1):</label><br>
        <input type="text" id="guestroom" name="guestroom"><br><br>

        <label for="basement">Basement (0 or 1):</label><br>
        <input type="text" id="basement" name="basement"><br><br>

        <label for="hotwaterheating">Hot Water Heating (0 or 1):</label><br>
        <input type="text" id="hotwaterheating" name="hotwaterheating"><br><br>

        <label for="airconditioning">Air Conditioning (0 or 1):</label><br>
        <input type="text" id="airconditioning" name="airconditioning"><br><br>

        <label for="parking">Parking:</label><br>
        <input type="text" id="parking" name="parking"><br><br>

        <label for="prefarea">Preferred Area (0 or 1):</label><br>
        <input type="text" id="prefarea" name="prefarea"><br><br>

        <label for="furnishingstatus">Furnishing Status:</label><br>
        <input type="text" id="furnishingstatus" name="furnishingstatus"><br><br>

        <input type="submit" value="Submit">
    </form>

</body>

</html>
